.body{
    display: flex;
    display:inline-block;

}
.btn + .btn{
    margin-left: 42px;
}
div{
    display: flex;
    margin: 32px auto;
}
.btn{
    border-radius: 50px;
    padding: 12px 36px;
    color: #fff;
    outline: none;
    border: none;
    min-width: 100px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity .2s ease;
}
.btn--disable{
    cursor: default;
    opacity: 0.5 !important;
}
.btn:hover{
    opacity:0.8
}
.btn--size_l{
    padding: 16px 44px
}
.btn--size_s{
    padding: 8px 25px;
}
.btn--success{
    background-color: #71be34;
}
.btn--warn{
    background-color: #ffb702;
}
.btn--error{
    background-color: #ff623d;
}