
.header{
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2e);
}
header .header__navbar
{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__navbar-list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.header__navbar-item{
    position: relative;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.3rem;
  
    display: flex;
    align-items: center;
}
.header__navbar-item{
    margin-left:12px;
}
.header__navbar-item--strong
{
    position: relative;
    font-weight: 300;
    
}
.header__navbar-item-link
{   
    font-weight:500;
    text-decoration: none;
    color: var(--white-color);
}
.header__navbar-item--separate::after
{   
    content: "";
    position: relative;
    height: 16px;
    width: 1px;
    right: -12px;
    margin-right:12px;
    background-color: #fb9086;
}
.header__navbar-icon-link
{
    
    text-decoration:none;
    color: #fff;
}
.header__navbar-icon
{
    font-size: 2rem;
    margin-left: 4px;
}
.header__navbar-title--no-pointer{
    color: #fff;
    cursor:default;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover
{   
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}
.header__navbar-dropdown:hover .header__navbar-QrImg{
    display: block;
}
.qrcode{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 180px;
}
.header__navbar-QrImg{
    margin-top:15px;
    border-radius: 4px;
    width: 190px;
    position: absolute;
    background-color: #fff;
    top:100%;
    display: none;
    left: 0;  
    z-index:1000;
}
.header__navbar-QrImg::before{
    content: '';
    position: absolute;
    top:-20px;
    width: 100%;
    height: 20px;
    
}
.header__navbar-appImg
{
    display: flex;
    justify-content: space-around;
}
.app-appstore,
.app-googleplay
{   
    
  
    width:70px;
}

.app-googleplay
{
    
    position: relative;
    margin-left: 10px;
}
.header__notify{

    position:absolute;
    top:150%;
    width:404px;
    right:0;
    background-color: #fff;
    box-shadow: 0 5px 12px 0 #555;
    transform-origin: 390px top;
    animation: fadeIn,aniNotify linear 0.2s ;
    display:none;
    z-index:1000;
}
.header__notify-header h3{
    color: rgb(94, 88, 88);
    font-weight: 300;
    margin-left:12px;
}
.header__notify-list{
    list-style: none;
    height:364px;
    overflow-y: auto;
    background-color: bisque;

}
.header__notify-item{
    width: 100%;
    padding:12px;
}
.header__notify-link{
    text-decoration:none;
}

.header__notify-img{
    margin: auto;
    width: 100%;
}
.header__notify-img-box{
    display: flex;
    width: 15%;
}
.header__notify-info{
    width:85%;
    margin:0 0 0 12px;
}
.header__notify-name{
    display:block;
    font-size: 1.8rem;
    line-height: 2rem; 
    color: #222;
    font-weight: 500;
}
.header__notify-description{
    display:block;
    margin-top:4px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #777;   

}
.header__notify-link{
    display:flex;
}
.header__notify-footer{
    padding:12px 0;
    display: flex;
    background-color:var(--white-color);
}
.header__notify-footer-titles{
    margin:auto;
    color:var(--text-color)
}
.header__notify-item:hover{
    background-color: #fff;
} 
.header__notify-item-viewed{
    background-color: rgb(241, 236, 236);

}
.header__notify::before{
    position: absolute;
    content:'';
    width: 0;
    height: 0;
    border-width: 20px 31px; 
    right: 0;
    top:-30px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.header__notify::after{
    position:absolute;
    top:-20px;
    right: 0;
    content:'';
    width: 21%;
    height: 20px;
}
.header__navbar-item--notify:hover .header__notify{
    display:block;
}
/* modal */
/* auth-form__Đăng Ký */
.modal__body{
    width: 500px;
}
.auth-form{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:12px 0;
}

.auth-form__container{
    width: 100%;

    padding: 0 32px;
}
.auth-form__heading{
    font-size: 2rem;
    font-weight: 450;
}
.auth-form__switch-btn{
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--primary-color);
    cursor:pointer;
}
.auth-form__group{
    margin-top: 20px;

}
.auth-form__input{
    line-height: 15px;
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #aaa;
    outline: none;
}
.auth-form__asides{
    display: flex;
    padding:10px 12px 0 12px;  
}
.auth-form__text-policy{
    text-align: center;
    font-size: 1.3rem;
    color: #000;
    font-weight: 500;
}
.auth-form__policy-link{
    color:var(--primary-color);
    text-decoration: none;
}
.auth-form__controls{
    display: flex;
    margin-top:70px;
    justify-content: flex-end;
}
.btn--nomal{
    margin-right:10px;;
}
.auth-form__socials{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    background-color: #bbb;
    padding:10px 32px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}
.btn--nomal:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.icon-facebook{
    background-color: rgb(24,119,242);
}
.icon-facebook i,
.icon-facebook .title{
    color: #fff;
}
.icon-google{
    color: #666;
    margin-left:10px;
}
/* auth-form đăng Nhập*/ 
.auth-form__help{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.help,
.repassword{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;

}
.repassword{

    order: 1;
    color:var(--primary-color);

}
.help{
    order:3;
    color: #666;
}
.auth-form__help::after{
    content: '';
    width: 1px;
    height: 16px;
    background-color: #666;
    margin:0 26px;
    order: 2;
}
.icon-ms{
    margin-right :10px;
    background-color: rgb(66,183,42);
    color:#fff;
}
/* animation login and register form */
.modal-close-login{
    display: flex;
}

.modal-close-register{
    display: flex;
}
.modal__form{
    display: none;
}
.modal-close-login .form-login
{
    display:block;
}
.modal-close-register .form-register{
    display: block;
}
/* header__search */
.header__search{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:var(--height-header-search)
}
.header__search-logo{
    padding-right:40px;
}
.logo-shopee{
    width: 146px;
    fill:white;
}
.search-place{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 40px;
    width:840px;
    border-radius: 3px;
    background-color:var(--white-color);

}
.produce{
    text-decoration:none;
    font-size:1.2rem;
    color:var(--white-color);
}
.produce + .produce{
    margin-left:10px;
}
.popular-produces{
    padding:5px 0;
}
.header__search-between{
    align-self: flex-end;

}
.header__cart-icon{
    position: relative;
    padding:20px 55px;
    margin-left:10px;
}
.cart-icon{
    font-size: 2rem;
    color:var(--white-color);
}
.search-icon-place{
    display: flex;
    width: 60px;
    height: 35px;
    margin-right:3px;
    background-color: var(--primary-color);
    border-radius:3px;
}
.search-icon{
    margin: auto;
    color:var(--white-color);
    font-size:1.5rem;
}
/* search-place-input */


.search-place-option{

    height:25px;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    margin-right:10px;
    border-left: 1px solid rgb(226, 223, 223);
    cursor: pointer;

}

.option-text{
    font-size:1.5rem;
    padding:0 15px;
    color:var(--black-color);
    font-weight:400;
    
}
.option-icon{
    position: relative;
    bottom: 2px;
    font-size:1.5rem;
}
.option-list{
    position:absolute;
    top:90%;
    background-color: #fff;
    list-style: none;
    border-radius:3px;
    box-shadow: -3px 3px 10px 0 #ccc;
    display: none;
}
.option-list .option-item{
    padding:15px 10px 15px 15px;
    border-radius:3px;
    border-radius:3px;

}

.option-list .option-item i{
    display:none;
}
.option-list .check i{
    display: initial;
}
.option-icon-item{
    font-size:1.5rem;
    color:var(--primary-color)
}
.option-text-item{
    font-size:1.5rem;
    margin-right:20px;
    color:var(--black-color);
    font-weight:400;
}
.option-item:hover{
    background-color:rgba(187, 187, 187,0.1);
}
.option-descreption-item{
    display: none;
}
.option-list::before{
    content: '';
    position: absolute;
    top:-20px;
    width: 100%;
    height:20px;
}
.search-place-option:hover .option-list{
    display: initial;

}
/* ----------------------------------------------- */
/* search-place */
/* ------------------------------------------------------- */
.search-place-input{
    position: relative;
    flex:1;
    height: 100%;
    border-radius:3px;
    
}
.search-input{
    width: 100%;
    height: 100%;
    border:none;
    outline:none;
    font-size: 1.5rem;
    font-weight: 300;
    padding:10px;
    border-radius: 3px;
}
.search-history{

    position:absolute;
    background-color: #fff;
    box-shadow:0 3px 10px 0 #aaa;
    width: 100%;
    top:110%;
    left:0;
    display:none;
    border-radius:3px;

}
.search-history-head{
    margin:0;
    font-size:1.5rem;
    padding:10px;
    font-weight: 300;
    color:#aaa;

}
.search-history-list{
    margin:0;
    list-style: none;
}
.search-history-item{
    padding:10px;
    border-radius: 3px;
}
.search-history-item a{
    text-decoration:none;
    color:black;
    font-size:1.2rem;
    font-weight: 500;
}
.search-history-item:hover{
    background-color:rgba(187, 187, 187,0.1);
}
.search-input:focus ~ .search-history{
    display: initial;
}
/* ---------------------------------------- */
/*================== =================cart-list============ */
/* -------===========--------------=======cart-none=======----------============== */
.img-cart-none{
    width:100px;
}
.cart-list-none{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px 0 40px 0;
    display:none;
}
.cart-none .cart-list-none{
    display:flex;
}

.text-cart-none{
    margin-top:20px;
    font-size:1.5rem;
    font-weight: 400;
}
/* ------------------------------------ */
.cart-list::after{
    content: '';
    border-style: solid;
    border-width: 10px 15px;
    border-color: transparent transparent white transparent;
    position:absolute;
    top:-19px;
    right: 6px;
}
.cart-list{

    position: absolute;
    background-color: var(--white-color);
    right: -10px;
    top:140%;
    width: 400px;
    box-shadow: 0 4px 10px #aaa;
    border-radius: 3px;
    display: none;
}
.cart-cover:hover .cart-list{
    display: block;
}
.cart-list::before{
    content: '';
    position:absolute;
    width:40px;
    height:20px;
    right:0;
    top:-20px
}
.cart-cover{
    position: relative;
}
/* number product */
/* -============================ */
.cart-cover::after{
    content: '3';
    position:absolute;
    padding: 0px 8px;
    border-radius:40%;
    background-color: #fff;
    color:var(--primary-color);
    font-size: 1.2rem;
    font-weight: 1000;
    right: -20px;
    top:-10px;
    border: 2px solid var(--primary-color);
    z-index: 1;
}
/* -------------------------------------- */
/* =====================cart-products-list============ */
/* ------------------------------------- */


.cart-head{
    margin:0;
    font-size:1.5rem;
    padding:10px;
    font-weight: 300;
    color:#aaa;
}
.cart-list-products{
    list-style:none;
    margin:0;
}
.cart-product{
    flex:1;
    margin-left:10px;
}
.cart-img{
    width:55px;
    object-fit: contain;
}
.cart-item{
    display: flex;
    align-items:center;
    padding:10px;

}
.cart-detail{
    display: flex;
}
.cart-name{
    flex:1;
    margin:0;
    font-size:1.4rem;
    color:var(--text-color);
    font-weight:530;
}
.cart-cost{
    font-size:1.4rem;
    color: var(--primary-color);
}
.cart-multip{
    font-size:1rem;
    margin:0 5px;
}
.cart-number{
    font-size:1.2rem;
}
.cart-descreption-btn{
    display: flex;
    margin-top:20px;
}
.cart-descreption{
    flex:1;
    font-size:1.2rem;
    color:#777;
}
.delete-cart{
    font-size:1.4rem;
    cursor: pointer;
}
.cart-none .cart-list-had{
    display: none;
}
/* ---------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ------------------Container---------------------------- */
/* ----------------------------------------------- */
/* ===========container-category========== */
/* -=-==-=-=-=-=category-head-=-=-=-=====-=-= */
.container{
    padding-top:20px;
    background-color: #F5F5F5;

}
.category-head{
    display: flex;
    align-items: center;
    padding:15px 0;
    border-bottom:1px solid #e9e9e9;
}
.category-head i{
    font-size: 1.2rem;
}
.category-head h3{
    margin-left:8px;
    font-size: 1.8rem;
}
.category-list{
    padding:8px 0;

    list-style:none;
}
.category-item{
    font-size: 1.5rem;
    font-weight: 400;
    color:var(--text-color);
    position: relative;
    padding:8px 0 8px 10px;

}
.category-active{
    color: var(--primary-color);
    display: flex;
    align-items: center;
}
.category-active::before{
    content:'';
    position: absolute;
    left:0;
    width: 0;
    height: 0; 
    border-width: 4px; 
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);

}
.control-product{
    width: 100%;
    display:flex;
    padding:15px 20px;
    background-color:#EDEDED;
    align-items: center;
}
.control-product-title{
    font-size: 1.5rem;
    font-weight:350;
    color:#666;
}
.btn-product{
    min-width: 80px;
    padding-right:20px;
    padding-left:20px;
    margin-left:10px;
}
.page-control-num{
    margin-left:auto;
}
.btn-control-sort{
    padding-right: 10px;
    padding-left:10px;
    position: relative;
}
.btn-control-sort .down-icon{
    margin-left:120px;
}
.page-control-num{
    display: flex;
    align-items: center;
}
.page-current{
    color:var(--primary-color);
}
.page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right:15px;
}


.control-btn-switch-page{
    display: flex;
    padding:10px 15px;
    background-color: #EDEDED;
    border-radius: 3px;
    border: 1px solid rgb(216,216,216);
}
.control-btn-switch-page a{
    color:rgb(95,95,95);
    font-size: 1.4em   ;
    margin: auto;
}
.control-btn-switch-page:hover{
    background-color: #fff;
}
.disable-switch-page{
    background-color: #fff;
}
.disable-switch-page a{
    color:#CFCFCF;

}
.control-sort-list{
    position: absolute;
    list-style: none;
    top:calc(100% + 1px);
    background-color: #fff;
    right: 0;
    left: 0;
    border-radius: 3px;
    display: none;
}
.control-sort-list li
{
    display: flex;
    padding: 10px;
}
.control-sort-list li:hover{
    color:var(--primary-color);
}
.control-sort-list .check-icon{
    margin-left:auto;
    color:var(--primary-color);
    display: none;
}
.btn-control-sort:hover .control-sort-list{
    display:block;
}
.control-sort-list::before{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top:-2px;
}
/* --------------------------------------------------------------- */
/* ----------------------------product-list-container------------------- */
.container-product-list{

}
.product-item-img{
    position:relative;
}
.product-item-img img{
    width: 100%;
    
}
.product-item{
    position: relative;
    margin-top:10px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: white;
    box-shadow: 0px 1px 10px 0 rgba(216,216,216,0.7);
    top:0;
    transition: top 0.2s linear;
}
.product-item:hover{
    top:-2px;
    box-shadow: 0px 2px 10px 0 rgba(200,200,200,1);

}
.detail-product{
    padding:10px 8px;
}
.product-item-name{
    color:var(--black-color);
    font-size:1.4rem;
    font-weight:500;
    padding:5px 0;
}
.product-item-sale{
    display: flex;
    width:100%;
    justify-content: center;
}
.product-item-sale-label{
    padding:0px 2px;
    font-weight:500;
    color:var(--primary-color);
    border:1px solid var(--primary-color);
    font-size:1.1rem;
}
.product-item-sale-label + .product-item-sale-label{
    margin-left:3px;
}
.product-item-cost{


    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-item-cost-current{
    position:relative;
    font-size:1.7rem; 
    color:var(--primary-color);
    font-weight:600;
    margin-left: 5px;
    align-self: flex-end;
}
.product-item-cost-old{

    position:relative;
    font-size:1.4rem; 
    color:#999;
    font-weight:400;
}

.product-item-cost-old span{
    position:relative;
    font-size:0.8rem;
    top:-2px;
    
}
.product-item-cost-current span{
    position:relative;
    font-size:1rem;
    top:-2px;
    
}

.product-item-cost-old::after{
    content: "";
    position:absolute;
    width: 100%;
    height:1px;
    background-color:#555;
    left:0;
    top:calc(50% - 1px);
}
.product-item-rating{
    display: flex;
    align-items:center;
}
.product-item-star-rating i{
    color: #ffce3d;
}
.product-item-star-rating .no-star{
    color:#d5d5d5;
}
.num-product-saled{
    font-size: 1.3rem;
    margin-left:5px;
    padding:10px 0;
}
.product-item-address{
    font-size:1.4rem;
    color:#999;

}
.favorite-product-item{
    position:absolute;
    top:10px;
    left:-5px;
    padding:1px 5px;
    line-height: 1.8rem;
    background: #f25220;;
    color:var(--white-color);
    font-size: 1.5rem;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;

}
.favorite-product-item::after{
    content: "";
    left: 0;
    color: rgb(242,82,32);
    bottom:-5px ;
    position: absolute;
    border-top: 5px solid;
    border-left:5px solid transparent;
    filter: brightness(60%);
}
.product-item-sale-off{
    position:absolute;
    width: 36px;
    height:32px;
    background-color: rgba(255, 212, 36, 0.7);
    top:0;
    right:0;
}
.product-item-sale-off{
    display:flex;
    align-items:center;
    flex-direction: column;
}
.product-item-sale-off .sale-off-num{
    color:rgb(242,82,32);
    font-size: 1.3rem;
 
}
.product-item-sale-off .sale-off-title{
    color:white;
    font-size:1.3rem;
}
.product-item-sale-off::after{
    content:'';
    width: 0;
    height: 0;
    position:absolute;
    border-style: solid;
    border-width: 4px 18px;
    right: 0;
    border-color: rgba(255, 212, 36, 0.7) rgba(255, 212, 36, 0.7) transparent rgba(255, 212, 36, 0.7);
    bottom: -8px;
}
.switch-page-btn-list{
    display:flex;
    list-style:none;
    padding: 40px;
    justify-content: center;
    align-items:center;
}
.switch-page-btn-list li{
    font-size: 2rem;
    margin-left:30px;
    color:#999;
}
.threedot{
    padding:2px 12px;
}
.num-page-btn,
.prepage-btn,
.nextpage-btn
{
    outline: none;
    border: none;
    background: none;
    padding:2px 12px;
    color:#999;
    font-weight: 300;
}
.page-current-active{
    background-color:rgb(242,82,32);
    color:white;
    border-radius: 3px;
}
/* --------------------------------------------------------------------- */
/* -----------------------------footer--------------------------------- */
/* ==========-==-=-===========---------------================ */
.footer{
    background-color: #fff;
    border-top:2px solid red;
}
.container-footer{
    padding:50px 0;
    margin-top:100px;
    background-color: #F5F5F5;
    border-top: 1px solid rgb(232,232,232) ;
    border-bottom: 1px solid rgb(232,232,232) ;
}
.customer-care-list{
    list-style:none;
    
}
.customer-care h4{
    padding:10px 0;
    font-size: 1.4rem;
}
.customer-care-list li{
    padding:5px 0;

}
.customer-care-list a{
    text-decoration: none;
    color:var(--text-color);
    font-size: 1.2rem;
}
   
.customer-care-logo{
    background-image: url('../img/logo.png');
}
.custormer-logo-list{
    display:flex;
    flex-wrap: wrap;
}
.fix-logo-india{
    width:55px;
    height:29px;
    background-size: 1222% 1000%;
    background-position: 1% 6%;

}
.fix-logo-visa{
    width:55px;
    height:29px;
    background-size: 1000% 1000%;
    background-position: 101% 44%;
}
.fix-logo-jcb{
    width:55px;
    height:29px;
    background-size: 1200% 1000%;
    background-position: 63% 31%;
}
.fix-logo-cod{
    width:55px;
    height:29px;
    background-size: 1200% 900%;
    background-position: 100% 7%;
}
.fix-logo-pay{
    width:55px;
    height:29px;
    background-size: 450% 400%;
    background-position: 87% 4%;
}
.fix-logo-trag{
    width:55px;
    height:29px;
    background-size: 1000% 658%;
    background-position: 100% 68%;
}
.fix-logo-master{
    width:55px;
    height:29px;
    background-size: 1200% 758%;
    background-position: 63% 55%;
}
 